@import 'css/pages/home.css';
@import 'css/pages/menu.css';

body {
  font-family: sans-serif;
}

#login {
  float: right;
}

#login-username-label-and-input {
  white-space: normal;
}

#login-password-label-and-input {
  white-space: normal;
}

#login-dropdown-list {
  top: 10px;
  right: 10px;
  left: unset;
}