#home {
  display: flex;
  margin-top:60px;
}

#home #content {
  margin-left: 20px;
  margin-right: 10px;
  height: calc(100vh - 108px);
  overflow-y: scroll;
}

#primary-events {
  display: flex;
}

#primary-events .ant-card {
  height: 100%
}

#primary-event1 {
  margin: 10px;
  width: calc(0.724 *(100vw - 280px));
  height: calc(0.724 * 0.618 *(100vw - 280px));
}

#primary-event2 {
  margin: 10px;
  width: calc(0.276 *(100vw - 280px));
  height: calc(0.724 * 0.618 *(100vw - 280px));
}

#weekly-specialties {
  display: flex;
}

#today-special {
  margin: 10px;
  width: calc((100vw - 380px)/7);
}

#secondary-events {
  display: flex;
  margin-bottom: 20px;
}

#secondary-events .ant-card {
  height: 100%;
}

#secondary-event1 {
  margin: 10px;
  width: calc(0.724 *(100vw - 280px));
  height: calc(0.724 * 0.618 *(100vw - 280px));
}

#secondary-event2 {
  margin: 10px;
  width: calc(0.276 *(100vw - 280px));
}

#secondary-event2-1 {
  margin-bottom: 20px;
  height: calc(0.618 * 0.724 * 0.618 *(100vw - 280px) - 10px);
}

#secondary-event2-2 {
  height: calc(0.382 * 0.724 * 0.618 *(100vw - 280px) - 10px);
}

#about-us {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

#map {
  width: calc(0.276 *(100vw - 280px));
  height: calc(0.276 *(100vw - 280px));
  margin: 10px;
}

#map .ant-card {
  height: 100%
}

#intro {
  margin:20px;
}

#home #side-nav {
  width: 200px;
}

#specialty-card-highlight {
  background:blue
}
